.invoice-container{
    width: 60%;
    margin:0 auto;
    margin-top: 30px;
}
th,td{
    border: 1px solid #000;
    padding: 5px 0px 5px 10px;
}
.name th,td,
.pan{
    text-align: left;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.address th{
    height: 50px;
    vertical-align: top;
    text-align: left;
    border-right: 0px;
}
.address td{
    border-left: 0px;
}
.empty td{
    height: 15px;
}
.company-address td{
    line-height: 20px;
}
.invoice-title th{
    text-align: center;
    border-bottom: 0px;
}
.invoice-table{
    border-top: 0px;
    text-align: left;
}
.rupees{
    padding-top: 5px;
}
.r-words td{
    text-align: center;
}
.cheque th{
    border-bottom: 0px;
    border-right: 0px;
}
.cheque td,
.acc-name td,
.acc-no td,
.bank-name td{
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.ifsc td{
    border-top: 0px;
    border-left: 0px;
}
.acc-name th,
.acc-no th,
.bank-name th{
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.ifsc th{
    border-top: 0px;
    border-right: 0px;
}
.cheque,
.acc-name,
.acc-no,
.bank-name,
.ifsc {
    height: 50px;
}
.form-buttons{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.accept a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #5cb85c;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #5cb85c;
    margin: 0px 0px 0px 20px;
     transition: all 0.3s ease-in-out;
}
.deny a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #c63702;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #c63702;
    margin: 0px 0px 0px 20px;
     transition: all 0.3s ease-in-out;
}
.accept a:hover{
    color: #5cb85c;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.deny a:hover{
    color: #c63702;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
@media (max-width:991px){
    .invoice-container{
        width: 80%;
    }
    th,td{
        padding: 5px 0px 5px 5px;
    }
}
@media (max-width:767px){
    .invoice-container{
        width: 100%;
    }
    .date,
    .amount{
        padding-right: 5px;
    }
    th,td{
        padding: 5px 0px 5px 5px;
    }
}